<div class="d-flex justify-content-center align-items-center">
  <button 
    type="button" 
    class="btn me-2" 
    (click)="goToPreviousPage()" 
    [disabled]="currentPage === 0 || totalPages === 0">
    <i class="bi bi-arrow-left"></i> Previous
  </button>

  <ng-container *ngFor="let page of getPageNumbers()">
    <button
      *ngIf="page !== '...'; else dots"
      type="button"
      class="btn"
      (click)="goToPage(page)"
      [class.active]="currentPage === page">
      {{ getPageLabel(page) }}
    </button>
    <ng-template #dots>
      <span class="mx-2">...</span>
    </ng-template>
  </ng-container>

  <button 
    type="button" 
    class="btn ms-2" 
    (click)="goToNextPage()" 
    [disabled]="currentPage === totalPages - 1 || totalPages === 0">
    Next <i class="bi bi-arrow-right"></i>
  </button>
</div>
