<div class="container my-3">
    <h1>Author</h1>
    <button routerLink="/author" class="btn btn-primary mb-5">Genres</button>
    
    <h1>Genres</h1>
    <button routerLink="/genre" class="btn btn-primary mb-5">Genres</button>
    
    <h1>Language</h1>
    <button routerLink="/language" class="btn btn-primary mb-5">Languages</button>

    <h1>Edition Type</h1>
    <button routerLink="/edition-type" class="btn btn-primary mb-5">Edition Type</button>
    
    <h1>Publisher</h1>
    <button routerLink="/publisher" class="btn btn-primary mb-5">Publisher</button>
</div>