.scroll-lg {    
    max-height: 475px;
    overflow-y: auto;
}

.user-link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.user-link:hover {
  text-decoration: underline;
  color: #000;
}
