<div class="container mt-4">
    <h3>Genres List</h3>
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (genre of genres; track $index) {
            <tr>
                <td>{{ genre.id }}</td>
                <td>{{ genre.name }}</td>
                <td>
                    <button (click)="openEditModal(genre)" class="btn btn-warning btn-sm mr-2">Edit</button>
                    <button (click)="openDeleteModal(genre.id)" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
        }
      </tbody>
    </table>
  
    @if (genres.length === 0) {
        <div class="text-center mt-5">
            <p>No genres available.</p>
        </div>
    }

    <app-modal
        #deleteModal
        [title]="deleteModal.title"
        [message]="deleteModal.message"
        [confirmButtonText]="deleteModal.confirmButtonText"
        [cancelButtonText]="deleteModal.cancelButtonText"
        [type]="deleteModal.type"
        (confirm)="onConfirmDelete()"
        (cancel)="deleteModal.closeModal()">
    </app-modal>  
    
    <app-genre-update
        #updateModal
        [genre]="genreToUpdate"
        (confirm)="onConfirmUpdate($event)"
        (cancel)="updateModal.closeModal()">
    </app-genre-update>
</div>