<div class="container mt-4">

    <h3>Genres List</h3>

    <app-genre-search
        (search)="onSearch($event)"
        (clearSearch)="onClearSearch()">
    </app-genre-search>

    <table class="table table-striped" style="table-layout: fixed; width: 100%;">
      <thead>
        <tr>
          <th style="width: 10%;">ID</th>
          <th style="width: 60%;">Name</th>
          <th style="width: 30%;">Actions</th>
        </tr>
      </thead>
      <tbody>
        @for (genre of genres; track $index) {
            <tr>
                <td>{{ genre.id }}</td>
                <td>{{ genre.name }}</td>
                <td>
                    <button (click)="openEditModal(genre)" class="btn btn-warning btn-sm mr-2">Edit</button>
                    <button (click)="openDeleteModal(genre.id)" class="btn btn-danger btn-sm">Delete</button>
                </td>
            </tr>
        }
      </tbody>
    </table>
  
    @if (genres.length === 0) {
        <div class="text-center mt-5">
            <p>No genres available.</p>
        </div>
    }

    <app-modal
        #deleteModal
        [title]="deleteModal.title"
        [message]="deleteModal.message"
        [confirmButtonText]="deleteModal.confirmButtonText"
        [cancelButtonText]="deleteModal.cancelButtonText"
        [type]="deleteModal.type"
        (confirm)="onConfirmDelete()"
        (cancel)="deleteModal.closeModal()">
    </app-modal>  
    
    <app-genre-update
        #updateModal
        [genre]="genreToUpdate"
        (confirm)="onConfirmForm($event)"
        (cancel)="updateModal.closeModal()">
    </app-genre-update>

    <app-pagination
        [currentPage]="currentPage"
        [totalPages]="totalPages"
        (pageChange)="onPageChange($event)">
    </app-pagination>
</div>