.image-wrapper {
    width: 200px;
    height: 250px;
    overflow: hidden;
    border-radius: 0.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.custom-card-img {
    height: 100%;
    width: auto;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.image-wrapper:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.card-body {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0.85rem 0.5rem;
}

.card-title {
    position: relative;
    width: 100%;
}

.image-wrapper {
    position: relative;
    margin: 0 auto;
}

.favourite-card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.favourite-btn {
    position: absolute;
    top: 17px;
    right: 22px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    margin-left: auto;
    margin: 0;
    z-index: 10;
}

.favourite-btn i {
    font-size: 1.6rem;
    transition: color 0.2s ease;
}