<div class="container">
  
    <!-- Componente de búsqueda -->
    <app-book-search
      (search)="onSearch($event)"
      (clearSearch)="onClearSearch()">
    </app-book-search>
    
    <!-- Resultados de libros -->
    <div class="row row-cols-1 row-cols-md-3 row-cols-xl-5 g-4 justify-content-center">
      
      <!-- Mensaje si no hay resultados -->
      <div *ngIf="books.length === 0" class="col-12">
        <p class="lead mb-0 text-muted w-100 text-center mb-3">
          There are no results for this book.
        </p>
      </div>
      
      <!-- Listado de libros -->
      <div *ngFor="let book of books" class="col mb-4 d-flex justify-content-between">
        <div class="card h-100">
          <img [src]="book.coverImage" class="card-img-top custom-card-img" alt="Book Image" />
          <div class="card-body text-center d-flex flex-column">
            
            <!-- Título del libro -->
            <h5 class="card-title flex-grow-1">{{ book.title }}</h5>
            
            <!-- Botón de detalles del libro -->
            <button [routerLink]="['/book/detail', book.id]" type="button" class="btn btn-primary mt-2">
              More
            </button>
            
            <!-- Botón para añadir a favoritos -->
            <button (click)="toggleFavourite(book.id)" type="button" class="btn btn-link mt-2">
              <i class="bi" [ngClass]="book.isFavourite ? 'bi-heart-fill text-danger' : 'bi-heart'"></i>
            </button>
            
          </div>
        </div>
      </div>
    </div>
    
    <!-- Paginación -->
    <app-pagination
      [currentPage]="currentPage"
      [totalPages]="totalPages"
      (pageChange)="onPageChange($event)">
    </app-pagination>
    
  </div>
  