<nav class="navbar navbar-expand-lg bg-magenta navbar-dark bg-dark sticky-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center" routerLink="/">
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Goodreads_logo.svg/2560px-Goodreads_logo.svg.png" alt="Logo" height="30" width="175">
    </a>

    <button class="navbar-toggler bg-dark border-dark" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav custom-dropdown">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi fs-5 bi-person-gear"></i>
            Admin
          </a>
          <ul class="dropdown-menu custom-bg-light" aria-labelledby="adminDropdown">
            <li class="dropdown-list-item">
              <a class="dropdown-item" routerLink="/admin/dashboard">
                <i class="bi bi-house-door"></i>
                Admin Dashboard
              </a>
            </li>
            <li class="dropdown-list-item">
              <a class="dropdown-item" [routerLink]="['/author']">
                <i class="bi bi-person"></i>
                Author
              </a>
            </li>
            <li class="dropdown-list-item">
              <a class="dropdown-item" [routerLink]="['/genre']">
                <i class="bi bi-tags"></i>
                Genres
              </a>
            </li>
            <li class="dropdown-list-item">
              <a class="dropdown-item" [routerLink]="['/language']">
                <i class="bi bi-translate"></i>
                Languages
              </a>
            </li>
            <li class="dropdown-list-item">
              <a class="dropdown-item" [routerLink]="['/edition-type']">
                <i class="bi bi-bookmark"></i>
                Edition Type
              </a>
            </li>
            <li class="dropdown-list-item">
              <a class="dropdown-item" [routerLink]="['/publisher']">
                <i class="bi bi-building"></i>
                Publisher
              </a>
            </li>
            <li class="dropdown-list-item">
              <a class="dropdown-item" [routerLink]="['/book']">
                <i class="bi bi-book"></i>
                Books
              </a>
            </li>
          </ul>
          
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">
            <i class="bi fs-5 bi-door-open-fill"></i>
            Login/Sign Up
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
