<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top mb-4">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center nav-li" routerLink="/">
      <img src="PageTurner.png" alt="" srcset="/PageTurner.png">
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
      data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav custom-dropdown">

        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" routerLink="/connections">
            <i class="bi fs-5 bi-person-heart"></i>
            Connections
          </a>
        </li>

        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" [routerLink]="['/challenges', getLoggedUserId()]">
            <i class="bi bi-lightning-charge-fill fs-5"></i>
            Challenges
          </a>
        </li>


        <li class="nav-item dropdown" *ngIf="isLoggedIn() && isLibrarian()">
          <a class="nav-link dropdown-toggle" href="#" id="librarianDropdown" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi fs-5 bi-journal-bookmark"></i>
            Librarian Configuration
          </a>
          <ul class="dropdown-menu custom-bg-light" aria-labelledby="adminDropdown">
            <li class="dropdown-list-item">
              <a class="dropdown-item" [routerLink]="['/admin/authors']">
                <i class="bi bi-person"></i>
                Author
              </a>
            </li>
            <li class="dropdown-list-item">
              <a class="dropdown-item" [routerLink]="['/admin/genres']">
                <i class="bi bi-tags"></i>
                Genres
              </a>
            </li>
            <li class="dropdown-list-item">
              <a class="dropdown-item" [routerLink]="['/admin/languages']">
                <i class="bi bi-translate"></i>
                Languages
              </a>
            </li>
            <li class="dropdown-list-item">
              <a class="dropdown-item" [routerLink]="['/admin/edition-types']">
                <i class="bi bi-bookmark"></i>
                Edition Type
              </a>
            </li>
            <li class="dropdown-list-item">
              <a class="dropdown-item" [routerLink]="['/admin/publishers']">
                <i class="bi bi-building"></i>
                Publisher
              </a>
            </li>
            <li class="dropdown-list-item">
              <a class="dropdown-item" [routerLink]="['/admin/books']">
                <i class="bi bi-book"></i>
                Books
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item dropdown" *ngIf="isLoggedIn() && isAdmin()">
          <a class="nav-link dropdown-toggle" href="#" id="adminDropdown" data-bs-toggle="dropdown"
            aria-expanded="false">
            <i class="bi fs-5 bi-person-gear"></i>
            Admin Configuration
          </a>
          <ul class="dropdown-menu custom-bg-light" aria-labelledby="adminDropdown">
            <li class="dropdown-list-item">
              <a class="dropdown-item" [routerLink]="['/admin/users']">
                <i class="bi bi-people"></i>
                Users
              </a>
            </li>
            <li class="dropdown-list-item">
              <a class="dropdown-item" [routerLink]="['/admin/authors']">
                <i class="bi bi-person"></i>
                Author
              </a>
            </li>
            <li class="dropdown-list-item">
              <a class="dropdown-item" [routerLink]="['/admin/genres']">
                <i class="bi bi-tags"></i>
                Genres
              </a>
            </li>
            <li class="dropdown-list-item">
              <a class="dropdown-item" [routerLink]="['/admin/languages']">
                <i class="bi bi-translate"></i>
                Languages
              </a>
            </li>
            <li class="dropdown-list-item">
              <a class="dropdown-item" [routerLink]="['/admin/edition-types']">
                <i class="bi bi-bookmark"></i>
                Edition Type
              </a>
            </li>
            <li class="dropdown-list-item">
              <a class="dropdown-item" [routerLink]="['/admin/publishers']">
                <i class="bi bi-building"></i>
                Publisher
              </a>
            </li>
            <li class="dropdown-list-item">
              <a class="dropdown-item" [routerLink]="['/admin/books']">
                <i class="bi bi-book"></i>
                Books
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" [routerLink]="['/user', getLoggedUserId()]">
            <img [src]="getAvatarUrl()" alt="Avatar" class="avatar-img" />
            {{ getUsername() }}
          </a>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()">
          <a class="nav-link" (click)="logout()" style="cursor: pointer;">
            <i class="bi fs-5 bi-door-closed-fill"></i>
            Logout
          </a>
        </li>

        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" routerLink="/login">
            <i class="bi fs-5 bi-door-open-fill"></i>
            Login
          </a>
        </li>

        <li class="nav-item" *ngIf="!isLoggedIn()">
          <a class="nav-link" routerLink="/sign-up">
            <i class="bi fs-5 bi-person-plus-fill"></i>
            Sign Up
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>