.navbar {
    height: 60px;
    text-align: center;
}

.navbar .nav-link {
    color: rgb(235, 232, 232);
    display: inline-block;
}

.avatar-img {
    width: 26px;
    height: 26px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0.25rem;
}