.navbar {
    background-color: #a6c9f1 !important;
    height: 60px;
    text-align: center;
}

.navbar .nav-link {
    color: black;
    display: inline-block;
}

.avatar-img {
    width: 26px;
    height: 26px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 0.25rem;
}