<!-- genre-update-modal.component.html -->
<div class="modal fade" tabindex="-1" [ngClass]="{ 'show': isVisible }" [ngStyle]="{ display: isVisible ? 'block' : 'none' }" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Update Genre</h5>
          <button type="button" class="close" (click)="closeModal()">&times;</button>
        </div>
        <div class="modal-body">
          <form (ngSubmit)="updateGenre()">
            <div class="form-group">
              <label for="genreName">Genre Name</label>
              <input type="text" id="genreName" [(ngModel)]="genre.name" name="name" class="form-control" required>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="closeModal()">Cancel</button>
        <button type="submit" class="btn btn-primary">Update</button>
        </div>
      </div>
    </div>
</div>
<div class="modal-backdrop fade show" *ngIf="isVisible"></div>
