<div class="container mt-3">
  <h2>Connections</h2>
  <div class="row">
    <div class="col-12 col-md-7">
      <ul class="nav nav-underline mb-3" id="myTabs" role="tablist">
        <li class="nav-item" role="presentation">
          <a class="nav-link active" id="tab1-tab" data-bs-toggle="tab" href="#tab1" role="tab" aria-controls="tab1"
            aria-selected="true">
            Requests
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="tab2-tab" data-bs-toggle="tab" href="#tab2" role="tab" aria-controls="tab2"
            aria-selected="false">
            Connections
          </a>
        </li>
        <li class="nav-item" role="presentation">
          <a class="nav-link" id="tab3-tab" data-bs-toggle="tab" href="#tab3" role="tab" aria-controls="tab3"
            aria-selected="false">
            Add Friends
          </a>
        </li>
      </ul>
      <div class="tab-content mt-4" id="myTabContent">
        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
          <app-friend-request-list></app-friend-request-list>
        </div>
        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
          <app-friend-list></app-friend-list>
        </div>
        <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
          <app-add-friend-list></app-add-friend-list>
        </div>

      </div>
    </div>
    <div class="col-12 col-md-5">
      <app-monthly-leaderboard></app-monthly-leaderboard>
    </div>
  </div>
</div>